# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
# HeliosKernel 2019
#
on early-init
    start perm
	start sensorhubservice
	start lhd

on boot

#unify sysfs node for GPU
    chmod 0444 /sys/devices/platform/gpusysfs/gpu_clock
    chmod 0644 /sys/devices/platform/gpusysfs/gpu_governor
    chmod 0644 /sys/devices/platform/gpusysfs/fps
    chown system shell /sys/devices/platform/gpusysfs/gpu_governor
    chown system shell /sys/devices/platform/gpusysfs/fps
	
    chown radio system /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock

    chown radio system /sys/class/devfreq/bus_mif.7/available_frequencies
    chown radio system /sys/class/devfreq/bus_mif.7/min_freq
    chown radio system /sys/class/devfreq/bus_mif.7/max_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_mif.7/min_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/max_freq

    chown radio system /sys/class/devfreq/bus_int.6/available_frequencies
    chown radio system /sys/class/devfreq/bus_int.6/min_freq
    chown radio system /sys/class/devfreq/bus_int.6/max_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_int.6/min_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/max_freq	

    # Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/shake_cam

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io  

on fs
# Permissions for ION
    chmod 0660 /sys/class/ion_cma/ion_video_ext/isolated
    chown system system /sys/class/ion_cma/ion_video_ext/isolated

# Permissions for backlight
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# Copy DRM Key
    copy /system/app/wv.keys /factory/wv.keys

# Permission for DRM Key
    chmod 0644 /factory/wv.keys   

service main /sbin/helios.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled

service perm /sbin/perm.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled      

service zipalign /sbin/zipalign.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled

service initd /sbin/initd.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled

service dispmode /sbin/dispmode.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled     

on property:sys.boot_completed=1
    start main
    start perm
    start zipalign
    start initd
    start dispmode
