# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
# RefinedKernel 2018
#
on early-init
	start sensorhubservice
	start lhd

on boot
    start fake_knox

#unify sysfs node for GPU
    chmod 0444 /sys/devices/platform/gpusysfs/gpu_clock
    chmod 0644 /sys/devices/platform/gpusysfs/gpu_governor
    chmod 0644 /sys/devices/platform/gpusysfs/fps
    chown system shell /sys/devices/platform/gpusysfs/gpu_governor
    chown system shell /sys/devices/platform/gpusysfs/fps
	
  chown radio system /sys/devices/11400000.mali/dvfs_table
    chown radio system /sys/devices/11400000.mali/dvfs_min_lock
    chown radio system /sys/devices/11400000.mali/dvfs_max_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_table
    chmod 0664 /sys/devices/11400000.mali/dvfs_min_lock
    chmod 0664 /sys/devices/11400000.mali/dvfs_max_lock

    chown radio system /sys/class/devfreq/bus_mif.7/available_frequencies
    chown radio system /sys/class/devfreq/bus_mif.7/min_freq
    chown radio system /sys/class/devfreq/bus_mif.7/max_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_mif.7/min_freq
    chmod 0664 /sys/class/devfreq/bus_mif.7/max_freq

    chown radio system /sys/class/devfreq/bus_int.6/available_frequencies
    chown radio system /sys/class/devfreq/bus_int.6/min_freq
    chown radio system /sys/class/devfreq/bus_int.6/max_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/available_frequencies
    chmod 0664 /sys/class/devfreq/bus_int.6/min_freq
    chmod 0664 /sys/class/devfreq/bus_int.6/max_freq	

on property:sys.boot_completed=1
    start sysinit
	start wakelock
	
service fake_knox /sbin/fake_knox.sh
    user root
    seclabel u:r:init:s0
    oneshot
    disabled

service sysinit /sbin/sysinit.sh
    class late_start
    user root
    seclabel u:r:init:s0
    oneshot
    disabled
	
service wakelock /sbin/wakelock.sh
    class late_start
    user root
    seclabel u:r:init:s0
    oneshot
    disabled	
	
# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input
	seclabel u:r:sensorhubservice:s0
	
# SensorHub (Location Hub)
service lhd /system/bin/lhd /system/etc/lhd.conf
    class main
    user gps
    group system inet net_raw
    ioprio be 0	
	
# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/shake_cam

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io	